<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="gripper_gazebo" params="prefix">

      <gazebo reference="${prefix}gripper_link">
        <material>Gazebo/Grey</material>
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
      </gazebo>

      <gazebo reference="${prefix}left_gripper_finger_link">
        <material>Gazebo/Grey</material>
        <kp>1000000.0</kp>
        <kd>1.0</kd>
        <mu1>30.0</mu1>
        <mu2>30.0</mu2>
      </gazebo>

      <gazebo reference="${prefix}right_gripper_finger_link">
        <material>Gazebo/Grey</material>
        <kp>1000000.0</kp>
        <kd>1.0</kd>
        <mu1>30.0</mu1>
        <mu2>30.0</mu2>
      </gazebo>

    </xacro:macro>

</robot>