<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="gripper_transmission" params="prefix">

      <transmission name="${prefix}tran7">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="${prefix}left_gripper_finger_joint">
          <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="${prefix}motor7">
          <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          <mechanicalReduction>1</mechanicalReduction>
        </actuator>
      </transmission>

      <transmission name="${prefix}tran8">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="${prefix}right_gripper_finger_joint">
          <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="${prefix}motor8">
          <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
          <mechanicalReduction>1</mechanicalReduction>
        </actuator>
      </transmission>

    </xacro:macro>

</robot>
