<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="gripper">

    <!--XACRO INCLUDES-->
    <xacro:include filename="$(find gripper_description)/urdf/gripper.urdf.xacro" />
    <xacro:include filename="$(find ur_description)/urdf/ur5_robot.urdf.xacro" />

    <!--ROBOT LAST LINK TO GRIPPER BASE LINK-->
    <joint name="gripper_joint" type="fixed">
        <parent link="ee_link"/>
        <child link="gripper_link"/>
        <origin xyz="0.0435 0 0" rpy="0 0 0"/>
        <axis xyz="0 1 0" />
    </joint>

</robot>
